/*-----Fonts-----*/
@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

/*-----Colors background body #bfcfff---Hover choice #1236A3 or #bfcfff--*/

body {
  background-color: #bfcfff;
}

/*-----Style choice background #f0f8ff (light blue) stronger blue #80C4FF  Writing #1a1a1a old color text color: #a8afb3 Alert #fff7f0---/*

/*--------------------------------Header-----------------------------------------------------------------------*/

/*--------------------------------------------Alert Bar-------------------------------------------------------*/

/*------------------------------------Navbar---------------------------------------------------------------------*/

.tabs {
    color: #ffffff;
}


.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/*-------------------------------------Body-----------------------------------------------------*/

/* ----------Register page ------------ */



.card-content {
    background-color:#bfcfff;
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    color:#ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.input-field>label {
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
    color:#ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

i {
    font-size:24px;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
}

.input-field input[type=text]:focus + label {
     color: #ffffff;
}

/* label underline focus color */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #ffffff;
     box-shadow: 0 1px 0 0 #ffffff;
   }

/*-------------------------------Login Page-----------------------------------------------------------*/

.card-action {
    background-color:#bfcfff;
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
    color:#ffffff;
}


/*-----------------------------------Register page-------------------------------------------------------------*/

/*-----------------------------------Breakfast page-------------------------------------------------------------*/

img {
 object-fit:cover;
 height: 175px;
}


.card-title {
   text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5); 
}


.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  color:#ffffff;
  display:grid;
}

.tablinks{
  font-family: 'Recursive', sans-serif;
  font-size: 12px;
  color:#ffffff;  

}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*----------------------------------contact us-------------------------------------*/

/*-------FAQ--------------------------------------------------------------------------------------------------*/

/*--------------Footer--------------------------------------------------------------*/

.social-media i {
  font-size: 36px;
  padding-right: 5px;
  color: #ffffff;
}

.social-media i:hover{
   color: #bfcfff;
   text-decoration: none; 
}
