{% extends "base.html" %} {% block content %}

<div class="s12 m7">
    <h3 class="header">Create Recipe in the Temple Lean Community</h3>
    <div class="card horizontal">
        <div class="card-stacked">
            <!-- Add Recipe Form-->
            <form class="card-content" method="POST" action="{{ url_for('add_recipe')}}">
                <div class="row">
                    <div class="input-field col s12">
                        <!--Select Recipe type-->
                        <select name="recipe_types" id="recipe_types" required>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Snacks">Snacks</option>
                        </select>
                        <label name="recipe_type">Recipe Category <i class="fas fa-hand-pointer"></i></label>
                    </div>
                </div>
                <!--Add Recipe Image url-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="recipe_image" name="recipe_image" type="text" class="validate" />
                        <label for="recipe_image">Url for Recipe Image <i class="fas fa-signature"></i></label>
                    </div>
                </div>
                <!-- Add Meal Name-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="meal_name" name="meal_name" type="text" class="validate" />
                        <label for="meal_name">Recipe Name <i class="fas fa-signature"></i></label>
                    </div>
                </div>
                <!--Add Meal ingredients-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="meal_ingredients" name="meal_ingredients" type="text" class="validate" />
                        <label for="meal_ingredients">Recipe Ingredients <i class="fas fa-mortar-pestle"></i></label>
                    </div>
                </div>
                <!--Add Meal Method-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="meal_method" name="meal_method" type="text" class="validate" />
                        <label for="meal_method">Method of Cooking Recipe <i class="fas fa-clipboard"></i></label>
                    </div>
                </div>
                <!--Add to Cook Meal-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="meal_time" name="meal_time" type="text" class="validate" />
                        <label for="meal_time">Time to Cook Recipe <i class="fas fa-stopwatch"></i></label>
                    </div>
                </div>

                <!-- Add Meal Tools-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="meal_tools" name="meal_tools" type="text" class="validate" />
                        <label for="meal_tools">Tools to Cook Recipe <i class="fas fa-utensils"></i></label>
                    </div>
                </div>
                <!--Add Meal Carbs-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="meal_nutracarbs" name="meal_nutracarbs" type="text" class="validate" />
                        <label for="meal_nutracarbs">Carbohydrate (eg 10g) in your recipe <i
                                class="fas fa-apple-alt"></i></label>
                    </div>
                </div>
                <!-- Add Meal Fats-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="meal_nutrafats" name="meal_nutrafats" type="text" class="validate" />
                        <label for="meal_nutrafats">Fat (eg 10g) your recipe <i class="fas fa-fill-drip"></i></label>
                    </div>
                </div>

                <!--Add Meal Proteins-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="meal_nutraproteins" name="meal_nutraproteins" type="text" class="validate" />
                        <label for="meal_nutraproteins">Protein (eg 10g) in recipe <i class="fas fa-dna"></i></label>
                    </div>
                </div>

                <!--Add Meal Kcals-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="meal_nutrakcals" name="meal_nutrakcals" type="text" class="validate" />
                        <label for="meal_nutrakcals">Calories (eg 225 kcals) in Recipe <i
                                class="fas fa-burn"></i></label>
                    </div>
                </div>
                <!--Buttons Submit Recipe and Cancel to return to profile screen-->
                <div class="row">
                    <div class="col s12">
                        <button class="greenbutton btn waves-effect waves-light light-green" type="submit"
                            name="action">Create
                            Recipe
                            <i class="fas fa-sign-in-alt"></i>
                        </button>
                        <a class="greenbutton btn waves-effect waves-light light-green"
                            href="{{ url_for('profile', username=session['user']) }}">Cancel <i
                                class="fas fa-window-close"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}