{% extends "base.html" %}

{% block content %}


<h1> Hello World of Temple Lean Again !!!!</h1>

<section>
      <div class="container">
        <div class="row">
          <div class="col s12 m12">
            <div class="card">
              <div class="card-image">
                <img src="static/images/saladheroimage.jpg" />
                <span class="card-title">Temple Lean Recipes</span>
              </div>
              <div class="card-content">
                <p>
                  Welcome to Temple Lean Recipes. All the recipes you need to
                  get the most out of your gym membership at Temple Lean
                </p>
              </div>
              <div class="card-action">
                <a href="{{ url_for('login')}}"
                  >Log in </a
                > to see our great recipes
                <a href="{{ url_for('register')}}"
                  >Register</a
                > to see our great recipes
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

       